{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="post-header">
  <h1 class="post__title">{{ title }}</h1>
  <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
</header>

<main class="post-view-content" role="main">

  <article class="{{post_class}}">

    <section class="post-content">
      {{ content }}
    </section>
    <section>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-fr+61+3n-cq+95"
          data-ad-client="ca-pub-8759766969256762"
          data-ad-slot="4487836391"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
    <div class="">
      <b>Tags:</b> {{tags separator=", "}}
    </div>
    <hr>
    <footer class="post-footer">
      {{> share}}
    </footer>

    <div class="post-prev-next-pagination">
      {{> post-prev-next-pagination}}
    </div>

    {{> "author"}}

    <section class="disqus">
      {{> disqus}}
    </section>

  </article>

</main>

{{/post}}